/* Padrão de CSS para exibir erros de servidor, usa o Jade com framework de HTML da view */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
